body{
    /*mudar cor de todos os textos*/
    color: white;
    /*mudar cor de fundo*/
    background-color: black;
    /*muda a fonte dos textos em tela*/
    font-family: Arial, Helvetica, sans-serif
}


            /* SCROLLBAR COLORIDA*/

        
/*O que é o WebKit?
O WebKit é o "motor" (engine) de renderização de alguns dos navegadores mais famosos do mundo. Pense nele como o motor de um carro: o navegador é a carcaça (o design, os botões), mas quem realmente lê o código HTML/CSS e desenha a página na tela é o motor.*/

/* Para Firefox */
html {
  scrollbar-width: auto;
  scrollbar-color: rgb(52, 255, 79) rgb(0, 0, 0);
}

/* Para Chrome, Edge e Safari */
::-webkit-scrollbar {
  width: 12px;               /* Largura da barra */
}

::-webkit-scrollbar-track {
  background: lavender;      /* Cor da trilha (fundo) */
}

::-webkit-scrollbar-thumb {
  background-color: mediumaquamarine;    /* Cor da barra em si */
  border-radius: 10px;       /* Arredondamento */
  border: 3px solid lavender; /* Cria um espaçamento ao redor da barra */
}

    /* MUDAR A COR DA SELEÇÃO DE TEXTO */
::selection {
    background-color: #5BBE42; /* Cor de fundo da seleção */
    color: rgb(0, 0, 0);              /* Cor do texto selecionado */
    text-shadow: 0 0 5px #5bbe42; /* Efeito de brilho na seleção */
}




/*ICONES DAA ABA CONTATO*/

.contato {
    display: flex;            /* Coloca os itens lado a lado */
    justify-content: flex-start; /* Alinha tudo no INÍCIO (Esquerda) */
    align-items: center;      /* Alinha verticalmente (centro da linha) */
    gap: 12px;                /* Cria o espaço entre a imagem e o texto */
    padding-left: 0;          /* Garante que não haja espaço sobrando na esquerda */
}

.contato h3 {
    margin: 0;                /* Remove margens que vêm por padrão no h3 */
}

/* Você só mexe na img se o tamanho original dela estiver muito grande */
.contato img {
    height: 50px; 
    width: auto;
}




    ul {
        /*itens flexíveis*/
        display: flex;
        /*Distribui, uniformemente
        ao longo do eixo principal (geralmente a horizontal*/
        justify-content: space-between;
        /*retira a bolinha do lado da list*/
        list-style-type: none;
        /*alinha ao centro os ul*/
        align-items: center;
        padding: 16px;
    }

    /*edita todos os textos "a"*/

    a{
        color: #5BBE42;
        text-shadow: 0 0 5px #5bbe42;
        
        /*retira a decoração de texto linha embaixo*/
        text-decoration: none;
    }

a:hover{
    color: #45aa03;
    text-decoration: none;
    text-shadow: 0 0 5px #5bbe42, 
    0 0 10px #fff,
    0 0 20px #5bbe42,
    0 0 40px #5bbe42;
    transition: 0.4s;}

    header img{
        width: 150px;
        height: 150px;
        /*para deixar a img redonda*/
        border-radius: 50%;
        /*borda com cores*/
        border: 5px solid #5BBE42;
    }
    .center{
        text-align: center;
    }

    h1{
        color: #5BBE42;
        text-shadow: 0 0 5px #5bbe42;
        text-align: center;
    }
    h2{
        color: #00ffff;
        text-shadow: 0 0 5px #00ffff
    }

    footer img{
        width: 50px;
        height: 50px;

    }

    footer{
        display: flex;
        justify-content: center;
    }

    footer a{
        margin: 20px;
        text-align: center;
    }

    footer p{
        margin-top: 2px;
    }

   /*MUDAR O VISUAL DE OUTRA PAGINA, 1 COLOQUE O BODY/estrutura do html E LOGO NELE O CLASS E VENHA AQUI*/

    .pagina-contato{
        background-color: #1a1a1a;
    }

